__pycache__
.DS_Store
isitup/config.ini
mass_update_pl.csv
mass_update_pl_config.py
mass_update_pl_config_*.py
mass_update_pl_dry_run_log.csv
mass_upgrade_rooms_config.py
mass_upgrade_rooms_config_*.py
mass_upgrade_rooms.log